@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1680781668402') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang:before {
  content: "\f016f";
}

.icon-quan:before {
  content: "\f01f6";
}

.icon-shizhong:before {
  content: "\e629";
}

.icon-xiangyoujiantou:before {
  content: "\e648";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-gouwuche:before {
  content: "\e61b";
}

.icon-shangjiantou:before {
  content: "\f034d";
}

.icon-dingdanjihe:before {
  content: "\e897";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-shizhong1:before {
  content: "\e668";
}

.icon-kefu1:before {
  content: "\ec2e";
}

.icon-shezhixitongshezhigongnengshezhishuxing-xian:before {
  content: "\e795";
}

.icon-gouwuche1:before {
  content: "\e7a6";
}

.icon-fangzidichan:before {
  content: "\e627";
}

.icon-youjiantou:before {
  content: "\e602";
}

.icon-shang-jiantou:before {
  content: "\e656";
}

.icon-shangjiantou1:before {
  content: "\e657";
}

.icon-shangjiantou-:before {
  content: "\e62e";
}

.icon-gouwuche2:before {
  content: "\e669";
}

.icon-youhuiquan:before {
  content: "\e8c0";
}

.icon-ziyuan:before {
  content: "\e610";
}

.icon-shangjiantou_huaban:before {
  content: "\e63f";
}

.icon-icon-test:before {
  content: "\e60a";
}

.icon-gouwuche-:before {
  content: "\e609";
}

.icon-shangjiantou2:before {
  content: "\e606";
}

.icon-jiarugouwuche:before {
  content: "\e61e";
}

.icon-youjiantou-sange:before {
  content: "\e64e";
}

.icon-gouwuche3:before {
  content: "\f2ae";
}

