.catme{
	display: flex;
	flex-wrap: wrap;
}
.catme div{
	width:auto;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 0 5em;
    
    
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
     font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	background:#FFFFFF;
}


/*-- banner --*/

.banner1{
	background: url("../images/g6.jpg") no-repeat 0px 0px;
    background-size: cover;
    padding: 0em 0 .5em;
    width:100%!important; 
    margin-top:5em; 
    height: 100%;
}
/*-- header-left --*/
.header {
    background: #fff;
    padding: 0;
	position:fixed;left: 0;right: 0;top: 0;margin:auto;/* 使得header居中固定位置 */
	z-index: 9999;/* 设置z轴使得header在最上层 */
	display:inline-flex;
	height: 8rem;
	justify-content: space-between;
    align-content: center;
	box-shadow: 0 0 4px;
}

.header-left{
    display: inline-flex;
	align-self: flex-start!important;
    margin-left: 5rem;
}


.footer-left{
	display: inline-flex;
    flex-direction: column;
    
	}

.w3layouts-logo{
	position: relative;
	top: 0px;
}
.w3layouts-logo h1 {
    margin: 0;
}
.w3layouts-logo h1 a {
    color: #2f2f2f;
    font-size: 1em ;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.w3layouts-logo h1 a span{
    font-weight: 250;
    font-size: .5em;
}

.nav2{
	font-family: 'Raleway', sans-serif;
	background-color:#fff;
    /*background:linear-gradient(35deg,#ccffff,#ffcccc);*/
	position:relative;left: 0;right: 0;bottom:-0.38em;margin:0;
	z-index:666;
    opacity: 0.9;
    height: 2em;
	
	
}
.nav2 ul{
    display:flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}
.nav2 ul li{
    list-style: none;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	align-items: center;
	font-weight: 600;
	flex-direction: row;
	font-size: 1em;
    z-index: 3;
	
}
.nav2 ul li a{
	text-align: center;
    text-decoration: none;
	color: #2f2f2f;
}
.nav2 ul>li a:hover{
	color: #AA2224;
	
}

.nav2.fixed {
	position: fixed !important;
	width:100%;
	top: 8rem;
	left:0;
	z-index: 9999;
	margin: 0;
	animation-name: menu_sticky;
	animation-duration: 0.40s;
	animation-timing-function: ease-in-out;
	height: 2.1em;
    background-color:#fff;
		/*#ffflinear-gradient(35deg,#ccffff,#ffcccc);*/
	
}
	

.nav2.fixed ul li a{

	font-size: 1em;
	font-color: #2f2f2f;
	text-aglin: center;
	
}



@keyframes menu_sticky {
	0%   {margin-top:-120px;opacity: 0;}
	50%  {margin-top: -64px;opacity: 0;}
	100% {margin-top: 0;opacity: 1;}
}

.cloud{
    position: absolute;
    bottom: 0;
    left: -80px;
    width: 4em;
    height: .65em;
    box-shadow: 1px 2px 2px #666;
    background: linear-gradient(to right, #ff9569 0%, #e92758 100%);
    border-radius: 100px;
    text-align: left;   
    z-index: 2;
}






/*动态菜单*/
.dc{
  position: fixed;
  left:48%; bottom:5px;
  width: 4rem;
  height:3.3rem; 
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:  linear-gradient(to right, #ff9569 0%, #e92758 100%);;
  border-radius: 50%;
  z-index: 99999;
}
        
.dc:hover{
  width: 4rem;
  height: 3.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:  linear-gradient(to right, #ff9569 0%, #e92758 100%);
  border-radius: 50%;
}
 
nav ul li {
            list-style: none;
        }
.menu-checkbox {
  display: none;
}
 
.menu {
  position: relative;
}
 
.menu-dots {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 3px 3px 1px 0.3rem #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  transition: 0.3s;
  cursor: pointer;
}
 
.menu-dots:hover {
  box-shadow: 0 0 0 0.3rem #fff, 0 0 0 1rem rgba(#e92758, 0.16);
  transform: scale(1.2) rotate(90deg);
}
 
.menu-dot {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 50%;
}
 
.menu-dot + .menu-dot {
  margin-top: 0.3rem;
}
 
.menu-items {
  position: absolute;
  top: -2.9rem;
  left: -6.8rem;
  width: 12.4rem;
  height: 8rem;
  color: #fff;
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 1;
  transition: 0.3s;
}
 
.menu-item {
  transform: scale(0.5);
  filter: blur(10px);
  transition: 0.3s;
}
 
.menu-item:nth-child(odd) {
  text-align: right;
}
 
.menu-item:nth-child(even) {
  text-align: left;
}
 
.menu-item:first-child,
.menu-item:last-child {
  grid-column: span 2;
  text-align: center;
}
 
.menu-checkbox:checked + .menu > .menu-dots {
  transform: none;
  box-shadow: 0 0 0 3.4rem  #F44336;
}
 
.menu-checkbox:checked + .menu > .menu-items {
  opacity: 1;
  pointer-events: auto;
}
 
.menu-closer-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
}
 
.menu-checkbox:checked + .menu > .menu-items > .menu-item {
  opacity: 1;
  transform: none;
  filter: none;
}
 
.menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(1) {
  transition-delay: 0.05s;
}
 
.menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(2) {
  transition-delay: 0.1s;
}
 
.menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(3) {
  transition-delay: 0.15s;
}
 
.menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(4) {
  transition-delay: 0.2s;
}
 
.menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(5) {
  transition-delay: 0.25s;
}
 
.menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(6) {
  transition-delay: 0.3s;
}
 
.menu-checkbox:checked + .menu > .menu-closer-overlay {
  pointer-events: auto;
  cursor: pointer;
}
  
/*dcend*/
/*轮播*/

.w3layouts-banner-slider{
    margin: 8em 0;
}
.callbacks_container{
  position: relative;
  float: left;
  width: 100%;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height:100vh;
  border: 0;
  }
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.agileits-banner-info {
	text-align:center;
}
.agileits-banner-info h3{
	color: rgba(255, 255, 255, 0.57);
    font-size: 7em;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.agileits-banner-info h3 span{
    display: block;
    font-size: .15em !important;
    margin: 2.5em 0 1em 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: 600;
    color: #FFFFFF !important;
}
.w3-button{
    margin: 2em 0 1em 0;
}
.w3-button a{
	color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    padding: .5em 2em;
    background: #F44336;
    text-align: center;
    border: solid 2px #F44336;
}
.w3-button a:hover{
	background:none;
	border: solid 2px #FFFFFF;
}


.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 109px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
  
  background-position: right top;
  left: 95.5%;
 }
 .callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left: 0;
}
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 124%;
    left: 48%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family:"幼圆";
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #f44336;
    border: 2px solid #f44336;
}
/*end轮播*/





/*-- //header-left --*/

/*-- top-nav --*/
nav[class="navbar navbar-default"]{
    background-color: #FFFFFF;
    border: 0;
}
.top-nav{
    margin: 2.2rem 0 0;
    float: left;
	
}
.top-nav ul{
    padding: 0;
    margin: 0;
	
}
.top-nav ul li{
    display: inline-block;
    margin: 0 1em;
    float: left;
    z-index: 999;
}
.top-nav ul li:nth-child(6){
	margin-right:0;
}
ul.nav.navbar-nav {
    float: right;
}
.navbar-default{
    background: none;
    border: none;
    margin: 0;
}
.navbar {
    min-height: 0;
    color: #fff;
}
.navbar-header{
    background-color: #fff!important;
    border: 0!important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
}
.top-nav ul li a{
    color: #2f2f2f !important;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}
.top-nav ul li a:hover{
    color: #F44336 !important;
}
.top-nav ul li a.active{
    color: #F44336 !important;
}

/*插入logo图片 */

.img-logo{
	width: 100px;
    height: 80px;
	background: url(maowologo.png);background-size: 30px;
    z-index: 3;}

/* 下拉菜单固定背景 */
ul.dropdown-menu {
	background: #fff;
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 3em;
    left: 0;
    min-width: 90px;
	z-index: 9999;
}
.dropdown-menu > li > a {
    display: block;
    padding: 0px 0px !important;
    clear: both;
    margin: .2em 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
    border: none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 103%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/* menu2使得登录部分也有下拉菜单 */
ul.dropdown-menu2 {
	background: rgba(0, 0, 0, 0.27);
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 3em;
    left: 0;
    min-width: 90px;
}
.dropdown-menu2 > li > a {
    display: block;
    padding: 0px 0px !important;
    clear: both;
    margin: .2em 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
    border: none !important;
}
.dropdown-menu2 > li > a:hover, .dropdown-menu2 > li > a:focus {
    background: none;
}
.dropdown-submenu2>.dropdown-menu2 {
    top: 0;
    left: 103%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu2:hover>.dropdown-menu2 {
    display: block;
}

.dropdown-submenu2>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu2:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu2.pull-left {
    float: none;
}

.dropdown-submenu2.pull-left>.dropdown-menu2 {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*-- //top-nav --*/
/*-- //top-nav右上搜索栏目 --*/
.header-right{
	color:#fff;
	float: right;
    margin-top: 2em;
    margin-right: 0.5em;
	font-family: 'Raleway', sans-serif;
    display:inline-flex;
}

.header-right input{
    
    background: #fff;
    border-radius: 5px;
    outline: none;
    padding: .5em 1em;
    font-size: 1em;
    color:#272424;
    border: solid 1px #F17E80;
}
.header-right button{
    color: #FFFFFF;
    font-size: 1em;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    background: #F44336;
    border: solid 1px #Fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.header-right button:hover{
    background: none;
    color: #F13033;
    border: solid 2px #F44336;
}



/*-- //social-icons --*/
.w3layouts-banner-slider {
    margin: 8em 0;
}
.agileits-banner-info {
	text-align:center;
}
.agileits-banner-info h3{
	color: rgba(255, 255, 255, 0.57);
    font-size: 7em;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.agileits-banner-info h3 span{
    display: block;
    font-size: .15em !important;
    margin: 2.5em 0 1em 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: 600;
    color: #FFFFFF !important;
}
.w3-button{
    margin: 2em 0 1em 0;
}
.w3-button a{
	color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    padding: .5em 2em;
    background: #F44336;
    text-align: center;
    border: solid 2px #F44336;
}
.w3-button a:hover{
	background:none;
	border: solid 2px #FFFFFF;
}
/*--slider--*/


/*-- banner-bottom --*/
.welcome,.services,.news,footer,.contact-top{
	padding: 0;
    margin: 1em 0;
}

.w3ls-heading h2,.w3ls-heading h3,.agileits-about-top-heading h3{
	color: #2f2f2f;
    font-size: 4em;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.welcome-grids{
	margin:4em 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* Common style */
.grid{
    display: inline-flex;
}
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    height: auto;
    background: #3085a3;
    text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption {
	padding: 3em;
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h4 {
    margin: 1.5em 0 1em 0;
    font-size: 1.5em;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}

figure.effect-chico p {
	margin: 0 auto !important;
    max-width: 200px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.grid {
    position: relative;
}
.agileits-left img{
	width:100%;
}
.agileits-left {
    padding-left: 0;
}
.agile-welcome-grid {
    padding-left: 0;
}
.agileinfo-welcome-right h4{
	color:#2f2f2f;
	font-size:1em;
	font-weight:600;
	margin:0;
	line-height:1.5em;
}
.agileinfo-welcome-right p{
	color:#999999;
	font-size:.9em;
	margin:1em 0 0 0;
	line-height:1.8em;
}
.agileinfo-welcome-right p span{
    display: block;
    margin: 1em 0 0 0;
}
/*-- //banner-bottom --*/
/*-- services --*/
.services{
    background: rgba(252,154,157,0.8);
}
.wthree-services-grids{
	margin:4em 0 0 0;
    display: flex;
    flex-direction: row;
}
.icon-left{
    float: left;
    width: 45px!important;
    height: 45px!important;
    display: flex;
    border: solid 1px #D6393C;
    text-align: center;
    padding: 1.2em 0 0 0;
    margin-right: 1.5em;
    align-content: center;
}

.icon-right{
    float: left;
    width: 80%;
}
.icon-left i.fa.fa-cog,.icon-left i.fa.fa-heart,.icon-left i.fa.fa-paper-plane,.icon-left i.fa.fa-user,.icon-left i.fa.fa-thumbs-up,.icon-left i.fa.fa-bell{
    color: #ffffff;
    font-size: 2em;
}
.icon-right h5{
	color: #2f2f2f;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 0 .5em 0;
}
.icon-right p{
    color: #ffffff;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
.agileits-icon-grid:nth-child(2){
	margin:2em 0;
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #965050;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: #FFFFFF;
}
.agileits-icon-grid:hover div.hvr-radial-out:before{
  -webkit-transform: scale(2);
  transform: scale(2);	
  color:#FFFFFF;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.agileits-icon-grid:hover i.fa.fa-cog,.agileits-icon-grid:hover i.fa.fa-heart,.agileits-icon-grid:hover i.fa.fa-paper-plane,.agileits-icon-grid:hover i.fa.fa-user,.agileits-icon-grid:hover i.fa.fa-thumbs-up,.agileits-icon-grid:hover i.fa.fa-bell{
	color:#FFFFFF;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;	
}
/*-- //services --*/
/*-- news --*/

.news-left{
    display: flex;
}
.w3-agileits-news-grids{
	margin:4em 0 0 0;
    display: flex;
}
.w3-agile-news-date{
    float: left;
    width: 20%;
}
.agile-news-icon{
	text-align: right;
    padding: 1em 0;
}
.w3-agile-news-img{
	float: right;
    width: 50%;
}
.agile-news-icon i.fa.fa-calendar,.agile-news-icon a i.fa.fa-comments-o,.agile-news-icon a i.fa.fa-thumbs-o-up{
    color: #999999;
    font-size: 1.5em;
	text-decoration:none;
}
.agile-news-icon p{
	color:#999999;
	font-size:1em;
	margin:.2em 0 0 0;
}
.agileits-line {
    height: 2px;
    background: #F44336;
    width: 30%;
    margin: 0 0 0 auto;
    top: 11px;
}
.w3-agile-news-img a img{
	width:80%;
	margin:0 0 1em 1em;
}
.w3-agile-news-img h4{
    margin: 0;
    font-size: 1.1em;
}
.w3-agile-news-img h4 a{
    color: #2f2f2f;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5em;
}
.w3-agile-news-img h4 a:hover{
	color:#F44336;
}
.w3-agile-news-img p{
	color:#999999;
	font-size:.9em;
	margin:1em 0 0 0;
	line-height:1.8em;
}
.news-right-grid{
    background-color:rgba(242,207,226,0.9);border-radius: 3px;
   
}

.news-right-grid a{
    color: #2f2f2f;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5em;
}
.news-right-grid a:hover{
	color:#F44336;	
}
.news-right-grid h5{
	color:#F44336;
	font-size:.9em;
	margin:.5em 0;
}
.news-right-grid p{
	
	font-size:.9em;
	margin:1em 0 0 0;
	line-height:1.8em;
    color: #2f2f2f;
}
.news-right-grid p:hover{
	font-size:.9em;
    color: #000000;
    
}
.news-right-grid:nth-child(2){
	margin:1em 0;
}
/*-- //news --*/



/*-- footer --*/
footer{
	background:#292a2c;
	padding:4em 0;
	width: 100%;
}
.footer-left{
    flex: 1;
    margin-left: 5em;
}
.footer-left h3{
	margin:0;
}
.footer-left h3 a {
	color: #FFFFFF;
    font-size: 2em;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.footer-left h3 a span {
    font-weight: 300;
    font-size: .4em;
    text-transform: uppercase;
}
.footer-social-grids {
    margin: 1em 0 0 0;
}
.footer-social-grids ul {
    padding: 0;
    margin: 0;
}
.footer-social-grids ul li {
    display: inline-block !important;
    margin: 0 .5em 0 0 !important;
}
.footer-social-grids ul li a {
    text-align: center;
}
.footer-social-grids ul li a i.fa.fa-facebook, .footer-social-grids ul li a i.fa.fa-twitter, .footer-social-grids ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    border: solid 2px #b5b5b5;
    line-height: 29px;
    background: none;
    color: #b5b5b5;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.footer-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.footer-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.footer-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.footer-left h4{
	color:#FFFFFF;
	font-size:1.5em;
	font-weight:600;
	margin:0 0 1em 0;
	font-family: 'Raleway', sans-serif;
}
.footer-left ul{
	padding:0;
	margin:0;
}
.footer-left ul li{
	display:block;
	margin:.5em 0;
}
.footer-left ul li a{
	color: #b5b5b5;
    font-size: 1em;
    text-decoration: none;
}
.footer-left ul li a:hover{
	color:#FFFFFF;
}
.footer-grid-left {
    padding-left: 0;
}
.footer-left p {
    color: #b5b5b5;
    font-size: .9em;
    margin: 0 0 1em 0;
}
.footer-left input[type="email"] {
    display: inline-block;
    background: #FFFFFF;
    width: 70%;
    outline: none;
    padding: .5em;
    font-size: .9em;
    color: #999999;
    border: solid 1px #FFFFFF;
}
.footer-left button.btn1 {
    color: #FFFFFF;
    font-size: .9em;
    
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    background: #F44336;
    border: solid 1px #F44336;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.footer-left button.btn1:hover{
    background: none;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
}
/*-- //footer --*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}


